[Unit]
Description=Run the extraction routine

[Service]
Type=oneshot
User=smaier
# WorkingDirectory=${PROJECT_ROOT}/playwright_scrape
WorkingDirectory=/home/smaier/workspace/uniTuebingen/data_lit/project/DataLiteracy/playwright_scrape
ExecStart=docker run -v ./scraped:/e2e/scraped playwright_scrape

[Install]
WantedBy=default.target
